@charset "utf-8";

@font-face {
  font-family: "vitro";
  src: url("./fonts/vitro_core.ttf");
}

div,
p,
button,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul,
li {
  list-style: none;
}

body {
  background: black;
  color: white;
}

.logo {
  margin: 30px;
  font-family: "vitro";
  color: #00ff37;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detail,
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.movie-item {
  position: relative;
  width: 25%;
}

@media screen and (max-width: 600px) {
  .movie-item {
    width: 50%;
  }
}
